<div class="page-header">
  <h3 class="page-title">
    Vehicle Management
  </h3>
  <nav aria-label="breadcrumb">
    <ul class="breadcrumb" style="padding: 0;">
      <li class="breadcrumb-item active" aria-current="page">
       <button class="btn btn-info button-size" (click)="toggleDialog($event)" [disabled]="currentPageView ? currentPageView[0].items.indexOf('insert') == -1  : false"> + Add Vehicle</button>
       <button class="btn btn-danger button-size" (click)="resetFilters()">Reset</button>
      </li>
    </ul> 
  </nav>
</div>
<div class="row">
  <div class="col-md-12">
    <div class="table-filter-options row">
      <div class="col-md-12 col-sm-12 col-md-12">
        <form class="example-form" style="display: flex;"  [formGroup]="filterForm">
          <table class="example-full-width" cellspacing="0"><tr>
            <td>
            <div class="table-search">
              <div class="search-icon"><i class="mdi mdi-magnify"></i></div>
              <div>
                <input type="string" placeholder="Search" formControlName="companyName">
              </div>
            </div>
          </td>
          <td>
            <mat-form-field  fxFlex="40" class="field-wrapper-filter">
              <mat-select  formControlName="vehicleType" placeholder="Vehicle Type" multiple>
                <mat-option *ngFor="let vehicle of vehicleTypeList" [value]="vehicle.vehicleType">{{ vehicle.vehicleType}}</mat-option>
              </mat-select>
            </mat-form-field>
          </td>
          <td>
            <mat-form-field  fxFlex="40" class="field-wrapper-filter">
              <mat-select  formControlName="isActive" placeholder="Status" multiple>
                <mat-option *ngFor="let status of statusList" [value]="status">{{status}}</mat-option>
              </mat-select>
            </mat-form-field>
          </td>
          <!-- <td *ngIf="vehicleNumberList.length>0">
            <mat-form-field fxFlex="40" class="field-wrapper-filter">
              <mat-select  formControlName="vehicleNumber" placeholder="Vehicle Number" multiple>
                <mat-option *ngFor="let number of vehicleNumberList" [value]="number">
                  {{number}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </td> -->
          </tr></table>
            </form>
      </div>
    </div>
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" matSort matTableExporter #exporter="matTableExporter">
      <!-- <ng-container matColumnDef="select">
        <th mat-header-cell *matHeaderCellDef>
          <mat-checkbox (change)="$event ? masterToggle() : null"
                        [checked]="selection.hasValue() && isAllSelected()"
                        [indeterminate]="selection.hasValue() && !isAllSelected()"
                        [aria-label]="checkboxLabel()">
          </mat-checkbox>
        </th>
        <td mat-cell *matCellDef="let row">
          <mat-checkbox (click)="$event.stopPropagation()"
                        (change)="$event ? selection.toggle(row) : null"
                        [checked]="selection.isSelected(row)"
                        [aria-label]="checkboxLabel(row)">
          </mat-checkbox>
        </td>
      </ng-container> -->
        <!-- Name Column -->
        <!-- <ng-container matColumnDef="createDateTime">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Created Date </th>
          <td mat-cell *matCellDef="let element"> {{element.createDateTime | date:'MM/dd/yyyy'}} </td>
        </ng-container> -->
      <!-- Name Column -->
      <ng-container matColumnDef="insurance">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Insurance Renewal Date </th>
        <td mat-cell *matCellDef="let element"> {{element.insuranceRenewalDate}} </td>
      </ng-container>
      <ng-container matColumnDef="puc">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>PUC Renewal Date </th>
        <td mat-cell *matCellDef="let element"> {{element.pucRenewalDate}} </td>
      </ng-container>
      <ng-container matColumnDef="service_period">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Service Period </th>
        <td mat-cell *matCellDef="let element"> {{element.servicingPeriod}} </td>
      </ng-container>
      <ng-container matColumnDef="last_date">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Last Servicing Date </th>
        <td mat-cell *matCellDef="let element"> {{element.lastServicingDate}} </td>
      </ng-container>
      <ng-container matColumnDef="vehicleNumber">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Vehicle Number </th>
        <td mat-cell *matCellDef="let element"> {{element.vehicleNumber}} </td>
      </ng-container>
    
      <ng-container matColumnDef="isActive">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Status</th>
        <td mat-cell *matCellDef="let element"> 
          <span class="dot" [ngClass]="element.isActive ==  'active' ? 'dot' : 'deactive-dot'"></span>{{element.isActive}} 
       </td>
      </ng-container>
      <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Status</th>
        <td mat-cell *matCellDef="let element"> 
          <span *ngIf="element.status == 'running'" class="deactive-dot">
          </span> 
          <span *ngIf="element.status == 'stop'" class="dot">
          </span> 
          {{element.status}}
       </td>
      </ng-container>
      <!-- Weight Column -->
      <ng-container matColumnDef="companyName">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Company Name </th>
        <td mat-cell *matCellDef="let element"> {{element.company?.companyName}} </td>
      </ng-container>

       <!-- Weight Column -->
       <ng-container matColumnDef="companyDomain">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>  Company Domain </th>
        <td mat-cell *matCellDef="let element"> {{element.company?.companyDomain}} </td>
      </ng-container>
    
      <!-- Symbol Column -->
      <ng-container matColumnDef="vehicleType">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Vehicle Type </th>
        <td mat-cell *matCellDef="let element"> {{element.vehicleType}} </td>
      </ng-container>
      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef style="color: white;"> Actions </th>
        <td mat-cell *matCellDef="let row" style="width:20%">
          <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
            <mat-icon>more_vert</mat-icon>
          </button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item  title="View Contact" (click)="getCurrentVehicleDetail(row)">
              <mat-icon>remove_red_eye</mat-icon>
              <span>View</span>
            </button>
            <button mat-menu-item (click)="getCurrentVehcleRoute(row)">
              <mat-icon>location_on</mat-icon>
                <span>Live Location</span>
            </button>
            <button mat-menu-item (click)="deleteVehicle(row)">
              <mat-icon>delete</mat-icon>
                <span>Delete</span>
            </button>
          </mat-menu>
        </td>
      </ng-container>
      <ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"
            (click)="selection.toggle(row)">
        </tr>
      </ng-container>
    </table>
    <div *ngIf="isLoading"  class="circle-spinner">
      <mat-progress-spinner 
        color="primary" [diameter]="50"
        mode="indeterminate">
      </mat-progress-spinner>
    </div>
    <tr *ngIf="!dataSource">
      <td style="text-align: center;" [attr.colspan]="displayedColumns.length">
        No Records Found!
      </td>
    </tr>
    <ng-container *ngIf="vehicleList.length>0">
      <app-download-content [data]="vehicleList" [exporterInstance]="exporter"></app-download-content>
   </ng-container>
    <mat-paginator  [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]" hidePageSize="false" aria-label="Select page of users"></mat-paginator>
  </div>
</div>

<!-- Add new Vehicle form -->
<div class="form-dialog" id="addVehicle"> 
  <div class="closeDailog" (click)="toggleDialog($event)"></div>
  <div class="form-container">
    <div class="heading">
      <p>Add Vehicle</p>
      <div class="float-right">
          <button class="btn btn-outline-info btn-custom" (click)="toggleDialog($event);resetData()">Close</button>
      </div>
    </div>
    <form (ngSubmit)="addVehicle(f)" #f="ngForm">
      <div class="form-group">
        <label>Select Company</label>
        <mat-form-field appearance="fill" fxFlex="40" class="field-wrapper app-permission" >
          <mat-label >Select Company</mat-label>
          <mat-select name="contactMethod"  id="contactMethod"  [(ngModel)]="vehicleData.companyName"  (ngModelChange)="updateDataViaKey($event,'company')"
          #companyName="ngModel"  [ngClass]="{ 'is-invalid': f.submitted && companyName.invalid }" required>
            <mat-option *ngFor="let company of companyList"  [value]="company.companyName">{{ company.companyName }}</mat-option>
          </mat-select>
          <mat-error *ngIf="f.submitted && companyName.invalid">
            <div *ngIf="companyName.errors.required">Company is required</div>
          </mat-error> 
        </mat-form-field>
      </div>

      <div class="form-group">
        <label >Vehicle Number</label>
          <input type="text" class="form-control" name="vehicleNumber" [(ngModel)]="vehicleData.vehicleNumber" #vehicleNumber="ngModel" 
            placeholder="Enter Vehicle Name" [ngClass]="{ 'is-invalid': f.submitted && vehicleNumber.invalid }" required />
          <div *ngIf="f.submitted && vehicleNumber.invalid" class="invalid-feedback">
              <div *ngIf="vehicleNumber.errors.required">Number is required</div>
          </div>
      </div>

      <div class="form-group">
        <label>Vehicle Type</label>
        <mat-form-field appearance="fill" fxFlex="40" class="field-wrapper app-permission" >
          <mat-label >Vehicle Type</mat-label>
          <mat-select name="vehicleType" [(ngModel)]="vehicleData.vehicleType"  (ngModelChange)="updateDataViaKey($event,'')"
          #vehicleType="ngModel"  [ngClass]="{ 'is-invalid': f.submitted && vehicleType.invalid }" required>
            <mat-option *ngFor="let vehicle of vehicleTypeList" [value]="vehicle.vehicleType">  {{ vehicle.vehicleType}}</mat-option>
          </mat-select>
          <mat-error *ngIf="f.submitted && vehicleType.invalid">
            <div *ngIf="vehicleType.errors.required">Company is required</div>
          </mat-error> 
        </mat-form-field>
      </div>

      <div class="form-group">
        <label>Model Name</label>
          <input type="text" class="form-control" name="modelName" [(ngModel)]="vehicleData.modelName" #modelName="ngModel" 
          placeholder="Enter Model Name" [ngClass]="{ 'is-invalid': f.submitted && modelName.invalid }" required />
          <div *ngIf="f.submitted && modelName.invalid" class="invalid-feedback">
            <div *ngIf="modelName.errors.required">Model Name is required</div>
        </div>
      </div>
      <div class="form-group">
        <label >Vehicle Manufacturing Company Name</label>
          <input type="text" class="form-control" name="vehicleManufacturing" [(ngModel)]="vehicleData.vehicleManufacturingCompanyName" #vehicleManufacturing="ngModel" 
          placeholder="Vehicle Manufacturing Company Name" [ngClass]="{ 'is-invalid': f.submitted && vehicleManufacturing.invalid }" required />
          <div *ngIf="f.submitted && vehicleManufacturing.invalid" class="invalid-feedback">
            <div *ngIf="vehicleManufacturing.errors.required">Vehicle Manufacturing Company Name is required</div>
          </div>
      </div>
      <div class="form-group">
        <label >Max Speed</label>
          <input type="text" class="form-control" name="maxSpeed" [(ngModel)]="vehicleData.maxSpeed" #maxSpeed="ngModel" 
          placeholder="Max Speed" [ngClass]="{ 'is-invalid': f.submitted && maxSpeed.invalid }" required />
          <div *ngIf="f.submitted && maxSpeed.invalid" class="invalid-feedback">
            <div *ngIf="maxSpeed.errors.required">Max Speed is required</div>
          </div>
      </div>

      <div class="form-group">
        <label>Fuel Type</label>
        <mat-form-field appearance="fill" fxFlex="40" class="field-wrapper app-permission" >
          <mat-label >Fuel Type</mat-label>
          <mat-select name="fuelType" [(ngModel)]="vehicleData.fuelType"  (ngModelChange)="updateDataViaKey($event,'')"
          #fuelType="ngModel"  [ngClass]="{ 'is-invalid': f.submitted && fuelType.invalid }" required>
            <mat-option *ngFor="let fuel of fuelTypeList" [value]="fuel.fuelType"> {{ fuel.fuelType}}</mat-option>
          </mat-select>
          <mat-error *ngIf="f.submitted && fuelType.invalid">
            <div *ngIf="fuelType.errors.required">Fuel Type is required</div>
          </mat-error> 
        </mat-form-field>
      </div>
      <div class="form-group">
        <label>Device Type</label>
        <mat-form-field appearance="fill" fxFlex="40" class="field-wrapper app-permission" >
          <mat-label >Device Type</mat-label>
          <mat-select name="device" [(ngModel)]="vehicleData.deviceType"
          #deviceType="ngModel"  [ngClass]="{ 'is-invalid': f.submitted && deviceType.invalid }" required>
            <mat-option *ngFor="let device of deviceList" [value]="device.deviceType"> {{ device.deviceType}}</mat-option>
          </mat-select>
          <mat-error *ngIf="f.submitted && deviceType.invalid">
            <div *ngIf="deviceType.errors.required">Device Type is required</div>
          </mat-error> 
        </mat-form-field>
      </div>
  

      <div class="form-group">
        <label >Tank Capacity</label>
          <input type="text" class="form-control" name="tankCapacity" [(ngModel)]="vehicleData.tankCapacity" #tankCapacity="ngModel" 
          placeholder="Tank Capacity" [ngClass]="{ 'is-invalid': f.submitted && tankCapacity.invalid }" required />
          <div *ngIf="f.submitted && tankCapacity.invalid" class="invalid-feedback">
            <div *ngIf="tankCapacity.errors.required">Tank Capacity is required</div>
          </div>
      </div>

      <div class="form-group">
        <label>Purchase Year</label>
          <input type="date" name="purchaseYear"  class="form-control date-picker-position"  [(ngModel)]="vehicleData.purchaseYear" #purchaseYear="ngModel" 
          placeholder="Purchase Year" [ngClass]="{ 'is-invalid': f.submitted && purchaseYear.invalid }" required >
          <div *ngIf="f.submitted && purchaseYear.invalid" class="invalid-feedback">
            <div *ngIf="purchaseYear.errors.required">Purchase Year is required</div>
          </div>
      </div>

      <div class="form-group">
        <label>Idle Mileage</label>
          <input type="text" class="form-control" name="idleMileage" [(ngModel)]="vehicleData.idleMileage" #idleMileage="ngModel" 
          placeholder="Idle Mileage" [ngClass]="{ 'is-invalid': f.submitted && idleMileage.invalid }" required />
          <div *ngIf="f.submitted && idleMileage.invalid" class="invalid-feedback">
            <div *ngIf="idleMileage.errors.required">Idle Mileage is required</div>
          </div>
      </div>
        
      <div class="form-group">
        <label>Insurance Renewal Date</label>
        <input type="date" class="form-control date-picker-position" name="insuranceRenewalDate" [(ngModel)]="vehicleData.insuranceRenewalDate" #insuranceRenewalDate="ngModel" 
        placeholder="Idle Mileage" [ngClass]="{ 'is-invalid': f.submitted && insuranceRenewalDate.invalid }" required />
        <div *ngIf="f.submitted && insuranceRenewalDate.invalid" class="invalid-feedback">
          <div *ngIf="insuranceRenewalDate.errors.required">Insurance Renewal Date is required</div>
        </div>
      </div>
      <div class="form-group">
        <label>PUC Renewal Date</label>
        <input type="date" class="form-control date-picker-position" name="pucRenewalDate" [(ngModel)]="vehicleData.pucRenewalDate" #pucRenewalDate="ngModel" 
        placeholder="PUC Renewal Date" [ngClass]="{ 'is-invalid': f.submitted && pucRenewalDate.invalid }" required />
        <div *ngIf="f.submitted && pucRenewalDate.invalid" class="invalid-feedback">
          <div *ngIf="pucRenewalDate.errors.required">PUC Renewal Date is required</div>
        </div>
      </div>
      <div class="form-group">
        <label>Service Period</label>
        <input type="text" class="form-control " name="servicingPeriod" [(ngModel)]="vehicleData.servicingPeriod" #servicingPeriod="ngModel" 
        placeholder="Service Period" [ngClass]="{ 'is-invalid': f.submitted && servicingPeriod.invalid }" required />
        <div *ngIf="f.submitted && servicingPeriod.invalid" class="invalid-feedback">
          <div *ngIf="servicingPeriod.errors.required">Service Period is required</div>
        </div>
      </div>
      <div class="form-group">
        <label>Last Service Date</label>
        <input type="date" class="form-control date-picker-position" name="lastServicingDate" [(ngModel)]="vehicleData.lastServicingDate" #lastServicingDate="ngModel" 
        placeholder="Last Service Date" [ngClass]="{ 'is-invalid': f.submitted && lastServicingDate.invalid }" required />
        <div *ngIf="f.submitted && lastServicingDate.invalid" class="invalid-feedback">
          <div *ngIf="lastServicingDate.errors.required">Last Service Date is required</div>
        </div>
      </div>
      <div class="form-group">
        <label>Average Running Limit Per Day</label>
        <input type="text" class="form-control" name="averageRunningLimitPerDay" [(ngModel)]="vehicleData.averageRunningLimitPerDay" #averageRunningLimitPerDay="ngModel" 
        placeholder="Average Running Limit Per Day" [ngClass]="{ 'is-invalid': f.submitted && averageRunningLimitPerDay.invalid }" required />
        <div *ngIf="f.submitted && averageRunningLimitPerDay.invalid" class="invalid-feedback">
          <div *ngIf="averageRunningLimitPerDay.errors.required">Average Running Limit Per Day is required</div>
        </div>
      </div>
      <div class="form-group">
        <label>Chasis Number</label>
        <input type="text" class="form-control" name="chasisNumber" [(ngModel)]="vehicleData.chasisNumber" #chasisNumber="ngModel" 
        placeholder="Chasis Number" [ngClass]="{ 'is-invalid': f.submitted && chasisNumber.invalid }" required />
        <div *ngIf="f.submitted && chasisNumber.invalid" class="invalid-feedback">
          <div *ngIf="chasisNumber.errors.required">Chasis Number is required</div>
        </div>
      </div>
      <div class="form-group">
        <label>Engine Number</label>
        <input type="text" class="form-control" name="enginNumber" [(ngModel)]="vehicleData.enginNumber" #enginNumber="ngModel" 
        placeholder="Engine Number" [ngClass]="{ 'is-invalid': f.submitted && enginNumber.invalid }" required />
        <div *ngIf="f.submitted && enginNumber.invalid" class="invalid-feedback">
          <div *ngIf="enginNumber.errors.required">Engine Number is required</div>
        </div>
      </div>
      <div class="form-group">
        <label>Active</label>
        <input type="checkbox" name="isActive"  class="form-check"  [(ngModel)]="vehicleData.isActive">
      </div>
      <div class="form-group form-control-footer">
       <button class="btn  btn-outline-info btn-custom" type="reset" (click)="f.reset()">Reset</button>
        <button class="btn btn-outline-info btn-custom" [disabled]="isLoadingData">
          <ng-container *ngIf="!isLoadingData">
            Save Vehicle
          </ng-container>
          <ng-container *ngIf="isLoadingData">
            <span class="spinner-border spinner-border-sm"></span>
              Loading..
          </ng-container>
        </button>
      </div>
    </form>

  </div>
</div>