@import '../../../../styles.scss';
.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}


select.form-control {
  outline: 1px solid #979797 !important;
    color: #000000 !important; 
}


.form-control{
  width: 100%;
  border: 1px solid #CCC;
  background: #FFF;
  margin: 0 0 5px;
  padding: 19px;
  border: 1px solid #979797;
  border-radius: 8px;
  font-size: 13px;
  max-height: 45px;
}


.form-group .col-sm-9{
  margin-left: -42px !important;
}

.form-group{
  margin-left:-16px !important;
}

.invalid-feedback{
position: absolute !important;
margin: 39px 0px 0px 120px !important;
}
.form-group{
  margin-bottom: 18px !important;
}

.link-btn {
  font-size: 14px !important;
  margin: 0px 52px !important;
}

 .app-permission  {
  margin: -5px -5px -1px 30px !important;
  width: 139% !important;
  font-size: 12px !important;
}
mat-error{
  font-size: 13px !important;
}

.mat-table{
  margin-left: -27px !important;
}


.input-label-container{
  margin-left: -38px !important;
  width: 79% !important;
}

