.row .col-3{
    font-size:12px;
}

.media .row{
    margin:17px  9px 10px 11px;
}

form{
    font-size: 15px;
}

.text-wrapper{
    margin-left: 27px;
}
.field-wrapper-filter{
    margin: -9px -4px -7px 4px !important;
    width: 97% !important;
    font-size: 12px;
  }