<div class="page-header">
  <h3 class="page-title">
    Alert Management
  </h3>
  <nav aria-label="breadcrumb">
    <ul class="breadcrumb" style="padding: 0;">
      <li class="breadcrumb-item active" aria-current="page">
       <button class="btn btn-info button-size" (click)="toggleDialog($event)" style="font-size:0.7rem !important"
       *ngIf="'Alert Management' | isDisabledPipe : 'Alert Management insert'"> + Save Alert</button>
       <button class="btn btn-danger button-size" (click)="resetFilters()">Reset</button>
      </li>
    </ul> 
  </nav>
</div>
<div class="row">
  <div class="col-md-12">
    <div class="table-filter-options row">
      <div class="col-md-12 col-sm-12 col-md-12">
        <form class="example-form" style="display: flex;"  [formGroup]="filterForm">
          <table class="example-full-width" cellspacing="0"><tr>
            <td>
            <div class="table-search">
              <div class="search-icon"><i class="mdi mdi-magnify"></i></div>
              <div>
                <input type="string" placeholder="Search" formControlName="username" >
              </div>
            </div>
          </td>
          <!-- <td>
            <mat-form-field  fxFlex="40" class="field-wrapper">
              <mat-select  formControlName="isActive" placeholder="Status" multiple>
                <mat-option *ngFor="let status of statusList" [value]="status">{{status}}</mat-option>
              </mat-select>
            </mat-form-field>
          </td> -->
          </tr></table>
            </form>
      </div>
    </div>
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" matSort matTableExporter #exporter="matTableExporter">
      <ng-container matColumnDef="company">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Company Name </th>
        <td mat-cell *matCellDef="let element" > <span *ngIf="element.company">{{element.company.companyName}}</span> </td>
      </ng-container>
      <ng-container matColumnDef="vehicle">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Vehicle Name </th>
        <td mat-cell *matCellDef="let element" > <span *ngIf="element.vehicle">{{element.vehicle.vehicleNumber}}</span> </td>
      </ng-container>
      <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Email </th>
        <td mat-cell *matCellDef="let element"> {{element.email}} </td>
      </ng-container>
    
      <!-- <ng-container matColumnDef="isActive">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Status</th>
        <td mat-cell *matCellDef="let element"> 
          <span class="dot" [ngClass]="element.isActive ==  'active' ? 'dot' : 'deactive-dot'"></span>{{element.isActive}} 
       </td>
      </ng-container> -->
      <ng-container matColumnDef="phoneNumber">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Phone</th>
        <td mat-cell *matCellDef="let element"> 
          {{element.phoneNumber}} 
       </td>
      </ng-container>
      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef style="color: white;"> Actions </th>
        <td mat-cell *matCellDef="let row" style="width:20%">
          <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
            <mat-icon>more_vert</mat-icon>
          </button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item  title="View Contact" (click)="getCurrentVehicleDetail(row,exporter)"  *ngIf="'Alert Management' | isDisabledPipe : 'Alert Management update'"> 
              <mat-icon>remove_red_eye</mat-icon>
              <span>View</span>
            </button>
            <button mat-menu-item (click)="deleteVehicle(row)" *ngIf="'Alert Management' | isDisabledPipe : 'Alert Management delete'">
              <mat-icon>delete</mat-icon>
                <span>Delete</span>
            </button>
          </mat-menu>
        </td>
      </ng-container>
      <ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"
            (click)="selection.toggle(row)">
        </tr>
      </ng-container>
    </table>
    <div *ngIf="isLoading"  class="circle-spinner">
      <mat-progress-spinner 
        color="primary" [diameter]="50"
        mode="indeterminate">
      </mat-progress-spinner>
    </div>
    <tr *ngIf="!dataSource">
      <td style="text-align: center;" [attr.colspan]="displayedColumns.length">
        No Records Found!
      </td>
    </tr>
    <ng-container *ngIf="userList.length>0">
      <app-download-content [data]="userList" [exporterInstance]="exporter"></app-download-content>
   </ng-container> 
    <mat-paginator  [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]" hidePageSize="false" aria-label="Select page of users"></mat-paginator>
  </div>
</div>

<!-- Add new Vehicle form -->
<div class="form-dialog" id="addVehicle"> 
  <div class="closeDailog" (click)="toggleDialog($event)"></div>
  <div class="form-container">
    <div class="heading">
      <p> <b>Alert  Management</b>  </p>
      <div class="float-right">
          <button class="btn btn-outline-info btn-custom"  type="reset" (click)="toggleDialog($event);resetData()">Close</button>
      </div>
    </div>
    <form  #f="ngForm">
      <div class="form-group">
        <label style="width: 161px !important">Select Company</label>
        <mat-form-field appearance="fill" fxFlex="40" class="field-wrapper app-permission" >
          <mat-label >Select Company</mat-label>
          <mat-select disableOptionCentering name="contactMethod"  id="contactMethod"  [(ngModel)]="alertAdd.companyName"  (ngModelChange)="updateDataViaKey($event,'company')"
          #companyName="ngModel"  [ngClass]="{ 'is-invalid': f.submitted && companyName.invalid }" required>
          <input class="example-input" placeholder ="search " (keyup)="search($event.target.value)">  
          <mat-option *ngFor="let company of companyList"  [value]="company.companyName">{{ company.companyName }}</mat-option>
          </mat-select>
          <mat-error *ngIf="f.submitted && companyName.invalid">
            <div *ngIf="companyName.errors.required">Company is required</div>
          </mat-error> 
        </mat-form-field>
      </div>
      <div class="form-group">
        <label style="width: 161px !important">Select Vechicle</label>
        <mat-form-field appearance="fill" fxFlex="40" class="field-wrapper app-permission" >
          <mat-label >Select Vechicle</mat-label>
          <mat-select disableOptionCentering name="contactMethod" #vehicleNumber="ngModel" [(ngModel)]="alertAdd.vehicleNumber" name="vehicle" 
          (ngModelChange)="updateDataViaKey($event,'vehicle')"
            [ngClass]="{ 'is-invalid': f.submitted && vehicleNumber.invalid }" required>
            <mat-option *ngFor="let vehicle of vehicleList" [value]="vehicle.vehicleNumber">{{vehicle.vehicleNumber}}</mat-option>
          </mat-select>
          <mat-error *ngIf="f.submitted && vehicleNumber.invalid">
            <div *ngIf="vehicleNumber.errors.required">Vechicle is required</div>
          </mat-error> 
        </mat-form-field>
      </div>
    <div class="form-group">
      <label>Email</label>
      <input type="email" name="email"  class="form-control form-control-lg" placeholder="Enter Email"
      [(ngModel)]="alertAdd.email" #email="ngModel" [ngClass]="{ 'is-invalid': (f.submitted || email.touched)  && email.invalid}" 
      email required>                
      <div *ngIf="f.submitted && email.invalid" class="invalid-feedback">
          <div *ngIf="email.errors.required">Email is required</div>
          <div *ngIf="email.errors.email">Must be a valid email address</div>
      </div>
    </div>
    <div class="form-group row">
      <label class="col-sm-3 col-form-label" style="margin:-2px 8px 3px -16px"> Number</label>
      <div class="input-group flex-nowrap input-label-container">
        <div class="input-group-prepend">
          <span class="input-group-text" id="addon-wrapping">+91</span>
        </div>
      <input type="tel" name="phoneNumber"  class="form-control form-control-lg" placeholder="Enter Phone Number"
        maxlength="10" [(ngModel)]="alertAdd.phoneNumber" #phoneNumber="ngModel" 
        [ngClass]="{ 'is-invalid': f.submitted && phoneNumber.invalid }" required>  
           <div *ngIf="f.submitted && phoneNumber.invalid" class="invalid-feedback" style="margin-left:5px !important">
        <div *ngIf="phoneNumber.errors.required">Phone Number is required</div>
      </div>
      </div>
    </div>
      <div class="form-group">
        <!-- <label>Active</label>
        <input type="checkbox" name="isActive"  class="form-check"  [(ngModel)]="alertAdd.isActive"> -->
        <span class="checkbox-container">
          <label class = "checkbox-inline">
            Email Alert <input type = "checkbox" [(ngModel)]="alertAdd.emailAlert" name="emailAlert">
          </label>
          <label class = "checkbox-inline">
            SMS Alert <input type="checkbox" [(ngModel)]="alertAdd.smsAlert" name="smsAlert"> 
          </label>
          <label class = "checkbox-inline">
            Popup <input type = "checkbox" [(ngModel)]="alertAdd.popup" name="popup">
          </label>
        </span>
      </div>
      <div class="form-group form-control-footer margin-top: 176px;">
        <button class="btn btn-outline-info btn-custom"   type="reset" (click)="toggleDialog($event);resetData()">Cancel</button>&nbsp;&nbsp;
        <button class="btn  btn-outline-info btn-custom"  type="reset" (click)="f.reset()">Reset</button>
        <div>
          <button class="btn btn-info button-size" [disabled]="isLoadingData" (click)="addVehicle(f)">
            <ng-container *ngIf="!isLoadingData" >
              Save
            </ng-container>
            <ng-container *ngIf="isLoadingData">
              <span class="spinner-border spinner-border-sm"></span>
                Loading..
            </ng-container>
          </button>
        </div>
      </div>
    </form>
  </div>
</div>