
<div class="page-header">
  <h3 class="page-title">
    Dashboard
  </h3>
  <nav aria-label="breadcrumb">
    <ul class="breadcrumb" style="padding: 0;">
      <li class="breadcrumb-item active" aria-current="page">
       <button class="btn btn-info">Map Dashboard</button>
      </li>
    </ul> 
  </nav>
</div>


<div class="row">
  <div class="col-md-4 grid-margin stretch-card stretch-card-custom">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">
          Customer
        </h4>
        <button class="btn btn-outline-info btn-fw btn-custom">Live Today</button>
        <div class="template-demo">
          <div class="card-details">
            <div>
              <span class="primary-count">10,000</span>
              <small>Join This Month</small>
            </div>
            <div>
              <span class="warning-count">20,000</span>
              <small>Discontinued</small>
            </div>
            <div>
              <span class="success-count">50,000</span>
              <small>Total</small>
            </div>
          </div>
        </div>
        <button class="btn btn-outline-info btn-fw btn-custom-bottom">Graph View</button>
      </div>
    </div>
  </div>
  <div class="col-md-4 grid-margin stretch-card stretch-card-custom">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">
          Vehicles
        </h4>
        <button class="btn btn-outline-info btn-fw btn-custom">Live Today</button>
        <div class="template-demo">
          <div class="card-details">
            <div>
              <span class="primary-count">15,000</span>
              <small>Added This Month</small>
            </div>
            <div>
              <span class="warning-count">10,000</span>
              <small>Discontinued</small>
            </div>
            <div>
              <span class="success-count">50,000</span>
              <small>Total</small>
            </div>
          </div>
          <button class="btn btn-outline-info btn-fw btn-custom-bottom">Graph View</button>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-4 grid-margin stretch-card stretch-card-custom">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">
          KM's Tracked
        </h4>
        <button class="btn btn-outline-info btn-fw btn-custom">Live Today</button>
        <div class="template-demo">
          <div class="card-details">
            <div>
              <span class="warning-count">11,500</span>
              <small>Today</small>
            </div>
            <div>
              <span class="primary-count">55,232</span>
              <small>This Month</small>
            </div>
            <div>
              <span class="success-count">50,000</span>
              <small>Total</small>
            </div>
          </div>
        </div>
        <button class="btn btn-outline-info btn-fw btn-custom-bottom">Graph View</button>
      </div>
    </div>
  </div>
  
  <div class="col-md-4 grid-margin stretch-card stretch-card-custom">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">
          Trackers
        </h4>
        <button class="btn btn-outline-info btn-fw btn-custom">Live Today</button>
        <div class="template-demo">
          <div class="card-details">
            <div>
              <span class="warning-count">10,000</span>
              <small>Issued This Month</small>
            </div>
            <div>
              <span class="info-count">10,000</span>
              <small>Active</small>
            </div>
            <div>
              <span class="primary-count">11,000</span>
              <small>In-active</small>
            </div>
            <div>
              <span class="success-count">50,000</span>
              <small>Total</small>
            </div>
          </div>
        </div>
        <button class="btn btn-outline-info btn-fw btn-custom-bottom">Graph View</button>
      </div>
    </div>
  </div>
  
  <div class="col-md-4 grid-margin stretch-card stretch-card-custom">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">
          Sim Card
        </h4>
        <button class="btn btn-outline-info btn-fw btn-custom">Live Today</button>
        <div class="template-demo">
          <div class="card-details">
            <div>
              <span class="warning-count">10,000</span>
              <small>Issued This Month</small>
            </div>
            <div>
              <span class="info-count">10,000</span>
              <small>Active</small>
            </div>
            <div>
              <span class="primary-count">11,000</span>
              <small>In-active</small>
            </div>
            <div>
              <span class="success-count">50,000</span>
              <small>Total</small>
            </div>
          </div>
        </div>
        <button class="btn btn-outline-info btn-fw btn-custom-bottom">Graph View</button>
      </div>
    </div>
  </div>
  
  <div class="col-md-4 grid-margin stretch-card stretch-card-custom">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">
          Trips
        </h4>
        <button class="btn btn-outline-info btn-fw btn-custom">Live Today</button>
        <div class="template-demo">
          <div class="card-details">
            <div>
              <span class="warning-count">50,000</span>
              <small>Today</small>
            </div>
            <div>
              <span class="info-count">10,000</span>
              <small>This Month</small>
            </div>
            <div>
              <span class="success-count">50,000</span>
              <small>In-active</small>
            </div>
            <div>
              <span class="primary-count">90,000</span>
              <small>Distance Travelled</small>
            </div>
          </div>
        </div>
        <button class="btn btn-outline-info btn-fw btn-custom-bottom">Graph View</button>
      </div>
    </div>
  </div>

</div>
<div class="row">
  <div class="col-md-4 grid-margin stretch-card stretch-card-custom">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">
          Trackers Raised
        </h4>
        <button class="btn btn-outline-info btn-fw btn-custom">Live Today</button>
        <div class="template-demo">
          <div class="card-details">
            <div>
              <span class="warning-count">51,000</span>
              <small>Newly Raised This Month</small>
            </div>
            <div>
              <span class="info-count">11,000</span>
              <small>Pending</small>
            </div>
            <div>
              <span class="primary-count">10,000</span>
              <small>Resolved</small>
            </div>
            <div>
              <span class="success-count">56,000</span>
              <small>Total</small>
            </div>
          </div>
        </div>
        <button class="btn btn-outline-info btn-fw btn-custom-bottom">Graph View</button>
      </div>
    </div>
  </div>
  <div class="col-md-8 grid-margin stretch-card stretch-card-custom">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title" style="text-align: center;">
          Vehicle Live Tracking
        </h4>
        <button class="btn btn-outline-info btn-fw btn-custom">Live Today</button>
        <div class="template-demo">
          <div class="card-details">
            <div>
              <span class="warning-count">11,000</span>
              <small>Vehicles <br> Running</small>
            </div>
            <div>
              <span class="success-count">10,000</span>
              <small>Vehicles <br> Stopped</small>
            </div>
            <div>
              <span class="success-count">10,000</span>
              <small>Ignition <br> OFF</small>
            </div>
            <div>
              <span class="success-count">10,000</span>
              <small>GPS Signal <br> Active</small>
            </div>
            <div>
              <span class="success-count">10,000</span>
              <small>GPS Signal <br> In-Active</small>
            </div>
            <div>
              <span class="success-count">10,000</span>
              <small>Power Supply<br> Cut Off</small>
            </div>
            <div>
              <span class="success-count">50,000</span>
              <small>Power Supply<br> Ok</small>
            </div>
          </div>
        </div>
        <button class="btn btn-outline-info btn-fw btn-custom-bottom">Graph View</button>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <div class="table-filter-options row">
      <div class="col-md-4">
        <div class="table-search">
          <div class="search-icon"><i class="mdi mdi-magnify"></i></div>
          <div>
            <input type="string" placeholder="Search">
          </div>
        </div>
      </div>
      <div class="col-md-3">
      <div class="location-filter">
        location Entry Type
        <i class="mdi mdi-arrow-down-drop-circle-outline"></i>
      </div>
    </div>
      <div class="col-md-3">
      <div class="location-filter">
        Location Entry Time
        <i class="mdi mdi-arrow-down-drop-circle-outline"></i>
        <i></i>
      </div>
    </div>
      <div class="col-md-2">
      <div class="pagination-container">
        1 - 4 of 4 
        <span class="prev-next">
          <label><i class="mdi mdi-chevron-left"></i></label>
          <label><i class="mdi mdi-chevron-right"></i></label>
        </span>
      </div>
    </div>
    </div>
    <div class="card">
  
      <table class="table table-bordered table-hover">
        <thead>
          <tr>
            <th>Time Stamp  <i class="mdi mdi-menu-down"></i> </th>
            <th>Company <i class="mdi mdi-menu-down"></i> </th>
            <th>Vehicle <i class="mdi mdi-menu-down"></i> </th>
            <th>Driver <i class="mdi mdi-menu-down"></i> </th>
            <th>Ignition <i class="mdi mdi-menu-down"></i> </th>
            <th>Battery <i class="mdi mdi-menu-down"></i> </th>
            <th>Power Supply <i class="mdi mdi-menu-down"></i> </th>
          </tr>
        </thead>
        <tbody>
            <tr>
              <td>2021-10-23 16:08:10</td>
              <td>Smartify World</td>
              <td>MH03BB9917</td>
              <td>Sham</td>
              <td>ON/OFF</td>
              <td>Connected/Disconnected</td>
              <td>Active/In-Active</td>
            </tr>
            <tr>
              <td>2021-10-23 16:08:10</td>
              <td>Smartify World</td>
              <td>MH03BB9917</td>
              <td>Sham</td>
              <td>ON/OFF</td>
              <td>Connected/Disconnected</td>
              <td>Active/In-Active</td>
            </tr>
            <tr>
              <td>2021-10-23 16:08:10</td>
              <td>Smartify World</td>
              <td>MH03BB9917</td>
              <td>Sham</td>
              <td>ON/OFF</td>
              <td>Connected/Disconnected</td>
              <td>Active/In-Active</td>
            </tr>
        </tbody>
      </table>
      
    </div>
  </div>
</div>