.field-wrapper {
    margin: -8px 0px 0px 0px !important;
    width: 99% !important;
    font-size: 12px !important;
    cursor: pointer !important;
}

.checkbox-margin{
   margin:  0px 76px 0px 0px !important;
}

select.form-control {
    outline: 1px solid #979797 !important;
      color: #000000 !important; 
  }

  .checkbox-inline{
    width: 120px !important;
  }
  
  .checkbox-container{
    margin: 0px 0px 0px 187px !important;
    display: inherit !important;;
  }

.input-container{
  position: absolute;
  margin: 2px 0px 0px -120px !important;
}

.input-group-prepend{
  margin:0px -10px 0px 56px !important;
}
.input-label-container{
  margin-left: -38px !important;
  width: 79% !important;
}

.checkbox-inline{
  width: 71px !important;
}

.checkbox-container{
margin: -7px 0px 0px 119px;
}
