.app-permission  {
    margin: -5px -5px -1px 30px !important;
    width: 139% !important;
    font-size: 12px !important;
  }

  .field-wrapper{
    margin: 18px 2px 2px 7px;
    width: 350px;
    font-size: 13px;
  }
  
  .map-wrapper {
    width: 105%;
    height: 500px !important;
    margin-left: -16px;

  }

.new_location_input{
    margin: 1px -27px 4px 0px !important;
    height: 44px;
}
