.field-wrapper {
    margin: -8px 0px 0px 0px !important;
    width: 99% !important;
    font-size: 12px !important;
    cursor: pointer !important;
}

.checkbox-margin{
   margin: 12px 143px 0px -140px !important;
}

select.form-control {
    outline: 1px solid #979797 !important;
      color: #000000 !important; 
  } 


  .export-icon {
    font-size: 18px !important;
  }