<div class="page-header">
  <h3 class="page-title">
    COMPANY MANAGMENT
  </h3>
  <nav aria-label="breadcrumb">
    <ul class="breadcrumb" style="padding: 0;">
      <li class="breadcrumb-item active" aria-current="page">
        <button class="btn btn-info button-size" (click)="toggleDialog($event)" style="font-size:0.7rem !important"> +
          Add New Company</button>
        <button class="btn btn-danger button-size" (click)="resetFilters()">Reset</button>
      </li>
    </ul>
  </nav>
</div>
<div class="row">
  <div class="col-md-12">
    <div class="table-filter-options row">
      <div class="col-md-12 col-sm-12 col-md-12">
        <form class="example-form" style="display: flex;" [formGroup]="filterForm">
          <table class="example-full-width" cellspacing="0">
            <tr>
              <td>
                <div class="table-search">
                  <div class="search-icon"><i class="mdi mdi-magnify"></i></div>
                  <div>
                    <input type="string" placeholder="Search Company" formControlName="companyName">
                  </div>
                </div>
              </td>
              <td>
                <mat-form-field fxFlex="40" class="field-wrapper">
                  <mat-select formControlName="isActive" placeholder="Status" multiple>
                    <mat-option *ngFor="let status of statusList" [value]="status">{{status}}</mat-option>
                  </mat-select>
                </mat-form-field>
              </td>
            </tr>
          </table>
        </form>
      </div>
    </div>
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" matSort matTableExporter #exporter="matTableExporter">
      <!-- <ng-container matColumnDef="select">
        <th mat-header-cell *matHeaderCellDef>
          <mat-checkbox (change)="$event ? masterToggle() : null" [checked]="selection.hasValue() && isAllSelected()"
            [indeterminate]="selection.hasValue() && !isAllSelected()" [aria-label]="checkboxLabel()">
          </mat-checkbox>
        </th>
        <td mat-cell *matCellDef="let row">
          <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(row) : null"
            [checked]="selection.isSelected(row)" [aria-label]="checkboxLabel(row)">
          </mat-checkbox>
        </td>
      </ng-container> -->
      <!-- Name Column -->
      <!-- <ng-container matColumnDef="createDateTime">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Created Date </th>
        <td mat-cell *matCellDef="let element"> {{element.createDateTime | date:'MM/dd/yyyy'}} </td>
      </ng-container> -->
      <!-- Name Column -->
      <ng-container matColumnDef="TotalVehicles">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Total Vehicles</th>
        <td mat-cell *matCellDef="let element"> {{element.vehicleCount}} </td>
      </ng-container>
      <ng-container matColumnDef="TotalUsers">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>TotalUsers </th>
        <td mat-cell *matCellDef="let element"> {{element.userCount}} </td>
      </ng-container>
      <ng-container matColumnDef="TotalTrackers">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Total Trackers </th>
        <td mat-cell *matCellDef="let element"> {{element.trackerCount}} </td>
      </ng-container>
      <ng-container matColumnDef="companyEmail">
        <th mat-header-cell *matHeaderCellDef mat-sort-header  style=" width: 22% !important;" >Email </th>
        <td style="padding-left: 8px;" mat-cell *matCellDef="let element"> {{element.companyEmail}} </td>
      </ng-container>
      <ng-container matColumnDef="companyName">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Company Name </th>
        <td mat-cell *matCellDef="let element"> {{element.companyName}} </td>
      </ng-container>
      
      <ng-container matColumnDef="companyContactNumber">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Phone Number </th>
        <td mat-cell *matCellDef="let element"> {{element.companyContactNumber}} </td>
      </ng-container>
      <ng-container matColumnDef="isActive">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Status</th>
        <td mat-cell *matCellDef="let element">
          <span class="dot"
            [ngClass]="element.isActive ==  'active' ? 'dot' : 'deactive-dot'"></span>{{element.isActive}}
        </td>
      </ng-container>
      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef style="color: white;"> Actions </th>
        <td mat-cell *matCellDef="let row" style="width:20%">
          <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
            <mat-icon>more_vert</mat-icon>
          </button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item title="View Contact" (click)="getCurrentVehicleDetail(row,exporter)">
              <mat-icon>remove_red_eye</mat-icon>
              <span>View</span>
            </button>
            <button mat-menu-item (click)="deleteVehicle(row)">
              <mat-icon>delete</mat-icon>
              <span>Delete</span>
            </button>
          </mat-menu>
        </td>
      </ng-container>
      <ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="selection.toggle(row)">
        </tr>
      </ng-container>
    </table>
    <div *ngIf="isLoading" class="circle-spinner">
      <mat-progress-spinner color="primary" [diameter]="50" mode="indeterminate" >
      </mat-progress-spinner>
    </div>
    <tr *ngIf="!dataSource">
      <td style="text-align: center;" [attr.colspan]="displayedColumns.length">
        No Records Found!
      </td>
    </tr>
    <ng-container *ngIf="userList.length>0">
       <app-download-content [data]="userList" [exporterInstance]="exporter"></app-download-content>
    </ng-container> 
      <mat-paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]" hidePageSize="false" aria-label="Select page of users"></mat-paginator>
  </div>
</div>

<!-- Add new Vehicle form -->
<div class="form-dialog" id="addVehicle">
  <div class="closeDailog" (click)="toggleDialog($event)"></div>
  <div class="form-container">
    <div class="heading">
      <p> <b>Company Management</b> </p>
      <div class="float-right">
        <button class="btn btn-outline-info btn-custom" (click)="toggleDialog($event);resetData()">Close</button>
      </div>
    </div>
    <form  #f="ngForm">
      <div class="form-group row">
        <label class="col-sm-3 col-form-label">Name</label>
        <div class="col-sm-9">
          <input type="text" class="form-control" name="companyName" [(ngModel)]="companyAddData.companyName"
            #companyName="ngModel" placeholder="Enter Company Name"
            [ngClass]="{ 'is-invalid': f.submitted && companyName.invalid }" required />
          <div *ngIf="f.submitted && companyName.invalid" class="invalid-feedback">
            <div *ngIf="companyName.errors.required">Company Name is required</div>
          </div>
        </div>
      </div>
      <div class="form-group row">
        <label class="col-sm-3 col-form-label"> Email</label>
        <div class="col-sm-9">
          <input type="email" name="email" class="form-control form-control-lg" placeholder="Enter Email"
            [(ngModel)]="companyAddData.companyEmail" #companyEmail="ngModel"
            [ngClass]="{ 'is-invalid': (f.submitted || companyEmail.touched)  && companyEmail.invalid}" email required>
          <div *ngIf="f.submitted && companyEmail.invalid" class="invalid-feedback">
            <div *ngIf="companyEmail.errors.required">Email is required</div>
            <div *ngIf="companyEmail.errors.email">Must be a valid email address</div>
          </div>
        </div>
      </div>
      <div class="form-group row">
        <label class="col-sm-3 col-form-label"> Number</label>
        <div class="input-group flex-nowrap input-label-container">
          <div class="input-group-prepend">
            <span class="input-group-text" id="addon-wrapping">+91</span>
          </div>
          <input type="text" name="companyContactNumber" class="form-control" placeholder="Username" aria-label="Username"
          [(ngModel)]="companyAddData.companyContactNumber"  #companyContactNumber="ngModel" placeholder="Enter Number"
              maxlength="10"
              [ngClass]="{ 'is-invalid': f.submitted && companyContactNumber.invalid }" required >
            <div *ngIf="f.submitted && companyContactNumber.invalid" class="invalid-feedback" style="margin-top: 45px !important;">
              <div *ngIf="companyContactNumber.errors.required">Number is required</div>
            </div>
        </div>
      </div>
      <div class="form-group row">
        <label class="col-sm-3 col-form-label">Address Line1</label>
        <div class="col-sm-9">
          <input type="text" class="form-control" name="addressLine1" [(ngModel)]="companyAddData.addressLine1"
            #addressLine1="ngModel" placeholder="Address Line1"
            [ngClass]="{ 'is-invalid': f.submitted && addressLine1.invalid }" required />
          <div *ngIf="f.submitted && addressLine1.invalid" class="invalid-feedback">
            <div *ngIf="addressLine1.errors.required">Address Line1 is required</div>
          </div>
        </div>
      </div>
      <div class="form-group row">
        <label class="col-sm-3 col-form-label">Address Line2</label>
        <div class="col-sm-9">
          <input type="text" class="form-control" name="addressLine2" [(ngModel)]="companyAddData.addressLine2"
            #addressLine2="ngModel" placeholder="Address Line2"
            [ngClass]="{ 'is-invalid': f.submitted && addressLine2.invalid }" required />
          <div *ngIf="f.submitted && addressLine2.invalid" class="invalid-feedback">
            <div *ngIf="addressLine2.errors.required">Address Line2 is required</div>
          </div>
        </div>
      </div>
      <div class="form-group row">
        <label class="col-sm-3 col-form-label">City</label>
        <div class="col-sm-9">
          <input type="text" class="form-control" name="city" [(ngModel)]="companyAddData.city" #city="ngModel"
          id="companyAutocomplete" (keyup)="getStateAndCountryName()"
            placeholder="City" [ngClass]="{ 'is-invalid': f.submitted && city.invalid }" required />
          <div *ngIf="f.submitted && city.invalid" class="invalid-feedback">
            <div *ngIf="city.errors.required">Address Line2 is required</div>
          </div>
        </div>
      </div>

      <div class="form-group row">
        <label class="col-sm-3 col-form-label">State</label>
        <div class="col-sm-9">
          <input type="text" class="form-control" name="state" [(ngModel)]="companyAddData.state" #state="ngModel" disabled
          (focusout)="getStateAndCountryName()"
            placeholder="Enter state" [ngClass]="{ 'is-invalid': f.submitted && state.invalid }" required />
          <div *ngIf="f.submitted && state.invalid" class="invalid-feedback">
            <div *ngIf="state.errors.required">State is required</div>
          </div>
        </div>
      </div>
      <div class="form-group row">
        <label class="col-sm-3 col-form-label">Country</label>
        <div class="col-sm-9">
          <input type="text" class="form-control" name="country" [(ngModel)]="companyAddData.country" #country="ngModel" disabled
            placeholder="Country" [ngClass]="{ 'is-invalid': f.submitted && country.invalid }" required />
          <div *ngIf="f.submitted && country.invalid" class="invalid-feedback">
            <div *ngIf="country.errors.required">Country is required</div>
          </div>
        </div>
      </div>
      <div class="form-group row">
        <label class="col-sm-3 col-form-label">Pincode</label>
        <div class="col-sm-9">
          <input type="text" class="form-control" name="pinCode" [(ngModel)]="companyAddData.pincode" #pincode="ngModel"
            placeholder="pincode" [ngClass]="{ 'is-invalid': f.submitted && pincode.invalid }" required />
          <div *ngIf="f.submitted && pincode.invalid" class="invalid-feedback">
            <div *ngIf="pincode.errors.required">Pincode is required</div>
          </div>
        </div>
      </div>
      <div class="form-group row">
        <label class="col-sm-3 col-form-label">GST Number</label>
        <div class="col-sm-9">
          <input type="text" class="form-control" name="gstNumber" [(ngModel)]="companyAddData.gstNumber"
            #gstNumber="ngModel" placeholder="GST Number" [ngClass]="{ 'is-invalid': f.submitted && gstNumber.invalid }"
            required />
          <div *ngIf="f.submitted && gstNumber.invalid" class="invalid-feedback">
            <div *ngIf="gstNumber.errors.required">GST Number is required</div>
          </div>
        </div>
      </div>
      <div class="form-group row">
        <label class="col-sm-3 col-form-label">Company Domain</label>
        <div class="col-sm-9">
          <input type="text" class="form-control" name="companyDomain" [(ngModel)]="companyAddData.companyDomain"
            #companyDomain="ngModel" placeholder="Enter Company Domain"
            [ngClass]="{ 'is-invalid': f.submitted && companyDomain.invalid }" required />
          <div *ngIf="f.submitted && companyDomain.invalid" class="invalid-feedback">
            <div *ngIf="companyDomain.errors.required">Company Domain is required</div>
          </div>
        </div>
      </div>
      <!-- <div class="form-group row">
        <label class="col-sm-3 col-form-label">Select Timezone</label>
        <div class="col-sm-9">
          <input type="text" class="form-control" name="selectTimezone" [(ngModel)]="companyAddData.selectTimezone"
            #selectTimezone="ngModel" placeholder="Enter Company Domain"
            [ngClass]="{ 'is-invalid': f.submitted && selectTimezone.invalid }" required />
          <div *ngIf="f.submitted && selectTimezone.invalid" class="invalid-feedback">
            <div *ngIf="selectTimezone.errors.required">Timezone is required</div>
          </div>
        </div>
      </div> -->
      <div class="form-group">
        <label class="col-sm-3 col-form-label" style="margin:-12px 28px 0px 3px;"> Active</label>
        <div class="col-sm-9">
          <input type="checkbox" name="isActive" class="form-check" [(ngModel)]="companyAddData.isActive">
        </div>
      </div>
      <div class="form-group form-control-footer margin-top: 176px;">
        <div class="cancelBtn">
          <button class="btn btn-outline-info btn-custom"(click)="toggleDialog($event);resetData()">Cancel</button>&nbsp;&nbsp;
          <button class="btn  btn-outline-info btn-custom" type="reset" (click)="f.reset()">Reset</button>
          <!-- <a class="link-btn" (click)="toggleDialog($event);resetData()">Cancel</a>
          <a class="link-btn" (click)="resetData()">Reset</a> -->
        </div>
        <div>
          <button (click)="addVehicle(f)" class="btn btn-info button-size" [disabled]="isLoadingData">
            <ng-container *ngIf="!isLoadingData">
              Save Company Management
            </ng-container>
            <ng-container *ngIf="isLoadingData">
              <span class="spinner-border spinner-border-sm"></span>
              Loading..
            </ng-container>
          </button>
        </div>
      </div>
    </form>

  </div>
</div>