<div class="row mt-2 edit-profile">
    <div class="col-sm-12">
      <div class="card align-items-center d-flex justify-content-center">
          <h3 class="page-title">
            <b>Add Company</b>
          </h3>
          <hr>
      <form (ngSubmit)="f.form.valid && addCompany(f)" #f="ngForm">
        <div class="row">
          <div class="col-sm-6">
            <div  class="form-group row">
              <label  class="col-sm-4 col-form-label">Username</label>
              <div class="col-sm-8">
                <input type="text" class="form-control" name="username" [(ngModel)]="companyAddData.username" #username="ngModel" 
                  placeholder="Enter Username"
                [ngClass]="{ 'is-invalid': f.submitted && username.invalid }" required />
                <div *ngIf="f.submitted && username.invalid" class="invalid-feedback">
                    <div *ngIf="username.errors.required">Username is required</div>
                </div>
              </div>
            </div>
            <div  class="form-group row">
              <label  class="col-sm-4 col-form-label">Company Name</label>
              <div class="col-sm-8">
                <input type="text" class="form-control" name="companyName" [(ngModel)]="companyAddData.companyName" #companyName="ngModel" 
                  placeholder="Enter Company Name"
                [ngClass]="{ 'is-invalid': f.submitted && companyName.invalid }" required />
                <div *ngIf="f.submitted && companyName.invalid" class="invalid-feedback">
                    <div *ngIf="companyName.errors.required">Company Name is required</div>
                </div>
              </div>
            </div>
            <div  class="form-group row">
              <label  class="col-sm-4 col-form-label">Company Domain</label>
              <div class="col-sm-8">
                <input type="text" class="form-control" name="companyDomain" [(ngModel)]="companyAddData.companyDomain" #companyDomain="ngModel" 
                  placeholder="Enter Company Domain"
                [ngClass]="{ 'is-invalid': f.submitted && companyDomain.invalid }" required />
                <div *ngIf="f.submitted && companyDomain.invalid" class="invalid-feedback">
                    <div *ngIf="companyDomain.errors.required">Company Domain is required</div>
                </div>
              </div>
            </div>
            
            <div class="form-group row">
              <label  class="col-sm-4 col-form-label">Email</label>
              <div class="col-sm-8">
                <input type="email" name="email"  class="form-control form-control-lg" placeholder="Enter Email"
                [(ngModel)]="companyAddData.email" #email="ngModel" [ngClass]="{ 'is-invalid': (f.submitted || email.touched)  && email.invalid}" 
                email required>                
                <div *ngIf="f.submitted && email.invalid" class="invalid-feedback">
                    <div *ngIf="email.errors.required">Email is required</div>
                    <div *ngIf="email.errors.email">Must be a valid email address</div>
                </div>
              </div>
            </div>
            <div class="form-group row">
              <label  class="col-sm-4 col-form-label">Number</label>
              <div class="col-sm-8">
                <input type="text" class="form-control" name="companyContactNumber" [(ngModel)]="companyAddData.companyContactNumber"  #companyContactNumber="ngModel" 
                placeholder="Enter Number"
                [ngClass]="{ 'is-invalid': f.submitted && companyContactNumber.invalid }" required />
                <div *ngIf="f.submitted && companyContactNumber.invalid" class="invalid-feedback">
                    <div *ngIf="companyContactNumber.errors.required">First Name is required</div>
                </div>
              </div>
            </div>

            <div class="form-group row">
              <label  class="col-sm-4 col-form-label">Address Line1</label>
              <div class="col-sm-8">
                <input type="text" class="form-control" name="addressLine1" [(ngModel)]="companyAddData.addressLine1" #addressLine1="ngModel"
                placeholder="Address Line1"
                 [ngClass]="{ 'is-invalid': f.submitted && addressLine1.invalid }" required />
                <div *ngIf="f.submitted && addressLine1.invalid" class="invalid-feedback">
                    <div *ngIf="addressLine1.errors.required">Address Line1 is required</div>
                </div>
              </div>
            </div>
            <div class="form-group row">
              <label  class="col-sm-4 col-form-label">Address Line2</label>
              <div class="col-sm-8">
                <input type="text" class="form-control" name="addressLine2" [(ngModel)]="companyAddData.addressLine2" #addressLine2="ngModel"
                placeholder="Address Line2"
                 [ngClass]="{ 'is-invalid': f.submitted && addressLine2.invalid }" required />
                <div *ngIf="f.submitted && addressLine2.invalid" class="invalid-feedback">
                    <div *ngIf="addressLine2.errors.required">Address Line2 is required</div>
                </div>
              </div>
            </div>

            <div class="form-group row">
              <label  class="col-sm-5 col-form-label" style="margin-top:-23px;">Is Active</label>
              <div class="col-sm-7">
                <input type="checkbox" name="isActive" class="form-check-input"  [(ngModel)]="companyAddData.isActive"  #isActive="ngModel"
                [ngClass]="{ 'is-invalid': f.submitted && isActive.invalid }" required>
                <div *ngIf="f.submitted && isActive.invalid" class="invalid-feedback">
                    <div *ngIf="isActive.errors.required">Is Active</div>
                </div>
              </div>
            </div>
          </div>
            <div class="col-sm-6">
              <div class="form-group row">
                <label class="col-sm-4 col-form-label" >Password</label>
                <div class="col-sm-8">
                    <input type="password" name="password" class="form-control form-control-lg" placeholder="Password" 
                    [(ngModel)]="companyAddData.password" #password="ngModel" [ngClass]="{ 'is-invalid': (f.submitted || f.touched)  && password.invalid}"  minlength="8" required>
                    <div *ngIf="(f.submitted || f.touched) && password.invalid" class="invalid-feedback">
                        <div *ngIf="password.errors.required">Password is required</div>
                        <div *ngIf="password.errors.minlength">Password should be at least 8 characters long</div>
                    </div>
                  </div>  
              </div>
              <div class="form-group row">
                <label  class="col-sm-4 col-form-label">City</label>
                <div class="col-sm-8">
                  <input type="text" class="form-control" name="city" [(ngModel)]="companyAddData.city" #city="ngModel"
                  placeholder="City"
                   [ngClass]="{ 'is-invalid': f.submitted && city.invalid }" required />
                  <div *ngIf="f.submitted && city.invalid" class="invalid-feedback">
                      <div *ngIf="city.errors.required">Address Line2 is required</div>
                  </div>
                </div>
              </div>

              <div class="form-group row">
                <label  class="col-sm-4 col-form-label">State</label>
                <div class="col-sm-8">
                  <input type="text" class="form-control" name="state" [(ngModel)]="companyAddData.state" #state="ngModel"
                  placeholder="State state"
                   [ngClass]="{ 'is-invalid': f.submitted && state.invalid }" required />
                  <div *ngIf="f.submitted && state.invalid" class="invalid-feedback">
                      <div *ngIf="state.errors.required">State is required</div>
                  </div>
                </div>
              </div>
              <div class="form-group row">
                <label  class="col-sm-4 col-form-label">Country</label>
                <div class="col-sm-8">
                  <input type="text" class="form-control" name="country" [(ngModel)]="companyAddData.country" #country="ngModel"
                  placeholder="Country"
                   [ngClass]="{ 'is-invalid': f.submitted && country.invalid }" required />
                  <div *ngIf="f.submitted && country.invalid" class="invalid-feedback">
                      <div *ngIf="country.errors.required">Country is required</div>
                  </div>
                </div>
              </div>
              <div class="form-group row">
                <label  class="col-sm-4 col-form-label">Pincode</label>
                <div class="col-sm-8">
                  <input type="text" class="form-control" name="pinCode" [(ngModel)]="companyAddData.pinCode" #pinCode="ngModel"
                  placeholder="pinCode"
                   [ngClass]="{ 'is-invalid': f.submitted && pinCode.invalid }" required />
                  <div *ngIf="f.submitted && pinCode.invalid" class="invalid-feedback">
                      <div *ngIf="pinCode.errors.required">Pincode is required</div>
                  </div>
                </div>
              </div>
              <div class="form-group row">
                <label  class="col-sm-4 col-form-label">GST Number</label>
                <div class="col-sm-8">
                  <input type="text" class="form-control" name="gstNumber" [(ngModel)]="companyAddData.gstNumber" #gstNumber="ngModel"
                  placeholder="GST Number"
                   [ngClass]="{ 'is-invalid': f.submitted && gstNumber.invalid }" required />
                  <div *ngIf="f.submitted && gstNumber.invalid" class="invalid-feedback">
                      <div *ngIf="gstNumber.errors.required">GST Number is required</div>
                  </div>
                </div>
              </div>
              </div>
              <div class="container text-center">
              <button class="btn btn-info">SAVE Company</button>
              </div>
        </div>
      </form>

      </div>
    </div>
  </div>
