
<div class="navigation">
    <a  routerLink="/user/alert"><span><i class="mdi mdi-keyboard-backspace"></i>Alert Management</span></a>
    <span routerLink="/user/alert"> <span><i class="mdi mdi-chevron-right"></i></span> Details </span>
    <span></span>
</div>
<div class="page-header">
    <h3 class="page-title">
      Details
    </h3>
    <nav aria-label="breadcrumb">
      <ul class="breadcrumb" style="padding: 0;">
        <li class="breadcrumb-item active" aria-current="page">
            <!--<app-download-content class="export-icon-detail" [data]="data" [exporterInstance]="exporterInstance"></app-download-content>-->
         <button class="btn btn-info button-size" (click)="deleteAlert()">Delete</button>
         <button class="btn btn-info button-size" *ngIf="!isEdit" (click)="toggleEditForm($event)">Edit</button>
         <button class="btn btn-info button-size" *ngIf="isEdit" (click)="updateGroupInfo()">Save</button>
        </li>
      </ul> 
    </nav>
  </div>
  <div class="row mt-2 edit-profile" [class.disableEdit]="!isEdit">
    <div class="col-sm-12">
      <div class="card">
        
      <form id="contact" action="" method="post">
        <div class="row">
          <div class="col-sm-6">
            <div class="form-group">
              <label>Select Company</label>
              <span>:</span>
              <mat-form-field fxFlex="40" class="field-wrapper app-permission" >
                <mat-select [disabled]="!isEdit" name="contactMethod"  id="contactMethod"  [(ngModel)]="currentUserDetail.company.companyName">
                  <mat-option *ngFor="let company of companyList"  [value]="company.companyName">{{ company.companyName }}</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="form-group">
                <label>Vehicle</label>
                <span>:</span>
                <mat-form-field fxFlex="40" class="field-wrapper app-permission"  >
                  <mat-label >Select Vechicle</mat-label>
                  <mat-select disableOptionCentering name="contactMethod" [disabled]="!isEdit" #vehicleNumber="ngModel" 
                  [(ngModel)]="currentUserDetail.vehicle.vehicleNumber" 
                  (ngModelChange)="updateDataViaKey($event,'vehicle')" name="vehicle">
                    <mat-option *ngFor="let vehicle of vehicleList" [value]="vehicle.vehicleNumber">{{vehicle.vehicleNumber}}</mat-option>
                  </mat-select>
                </mat-form-field>
            </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <label>Email</label>
                <span>:</span><input name="email"  [(ngModel)]="currentUserDetail.email" [disabled]="!isEdit" class="form-input" type="email" tabindex="3" required>
              </div>
            </div>
             <div class="col-sm-6">
                <!-- <div class="form-group">
                  <label>Phone Number</label>
                  <span>:</span><input name="phoneNumber" [(ngModel)]="currentUserDetail.phoneNumber" [disabled]="!isEdit" type="text" class="form-input"  tabindex="5" required>
                </div> -->
                <div class="form-group">
                  <label class="col-sm-3 col-form-label" style="margin:-17px 23px 0px -23px"> Number</label>
                  <div class="input-group flex-nowrap input-label-container">
                    <div class="input-group-prepend">
                      <span class="input-group-text" id="addon-wrapping">+91</span>
                    </div>
                  <input style="height: 42px;" type="tel" name="phoneNumber"  class="form-control form-control-lg" placeholder="Enter Phone Number" maxlength="10" [(ngModel)]="currentUserDetail.phoneNumber">  
                  </div>
                </div>
              </div>
              <span class="checkbox-container">
                <div class="form-check form-check-inline">
                 <span class="checkbox-margin"> Email Alert</span> <input [disabled]="!isEdit" class="input-container" type = "checkbox" [(ngModel)]="currentUserDetail.emailAlert" name="emailAlert">
                </div>
                <div class="form-check form-check-inline">
                  <span class="checkbox-margin">SMS Alert</span> <input [disabled]="!isEdit" class="input-container" type="checkbox" [(ngModel)]="currentUserDetail.smsAlert" name="smsAlert"> 
                </div>
                <div class="form-check form-check-inline">
                  <span class="checkbox-margin">Popup</span> <input [disabled]="!isEdit" class="input-container" type = "checkbox" [(ngModel)]="currentUserDetail.popup" name="popup">
                </div>
              </span>
        </div>
      </form>
      </div>
    </div>
  </div>