<div class="page-header">
  <h3 class="page-title">
    Permission Management 
  </h3>
  <nav aria-label="breadcrumb">
    <ul class="breadcrumb" style="padding: 0;">
      <li class="breadcrumb-item active" aria-current="page">
       <button class="btn btn-info button-size" (click)="toggleDialog($event)" style="font-size:0.7rem !important"> + Add New Permission</button>
       <button class="btn btn-danger button-size" (click)="resetFilters()">Reset</button>
      </li>
    </ul> 
  </nav>
</div>

<div class="row">
  <div class="col-md-12">
    <div class="table-filter-options row">
      <div class="col-md-12 col-sm-12 col-md-12">
        <form class="example-form" style="display: flex;"  [formGroup]="filterForm">
          <table class="example-full-width" cellspacing="0"><tr>
            <td>
            <div class="table-search">
              <div class="search-icon"><i class="mdi mdi-magnify"></i></div>
              <div>
                <input type="string" placeholder="Search" formControlName="username" >
              </div>
            </div>
          </td>
          <!-- <td>
            <mat-form-field  fxFlex="40" class="field-wrapper">
              <mat-select  formControlName="isActive" placeholder="Status" multiple>
                <mat-option *ngFor="let status of statusList" [value]="status">{{status}}</mat-option>
              </mat-select>
            </mat-form-field>
          </td> -->
          </tr></table>
            </form>
      </div>
    </div>
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" matSort matTableExporter #exporter="matTableExporter">
      <!-- Name Column -->
      <ng-container matColumnDef="page">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Page Name </th>
        <td mat-cell *matCellDef="let element" > <span *ngIf="element.name">{{element.name}}</span> </td>
      </ng-container>
      <ng-container matColumnDef="item">
        <th mat-header-cell *matHeaderCellDef mat-sort-header  style="width:70% !important;">Permissions </th>
        <td mat-cell *matCellDef="let element" > 
          <span *ngIf="element.items">
            <mat-chip-list aria-label="Fish selection">
              <mat-chip *ngFor="let permission of element.items">{{permission.value}}</mat-chip>
            </mat-chip-list>
          </span> </td>
      </ng-container>
      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef style="color: white;"> Actions </th>
        <td mat-cell *matCellDef="let row" style="width:20%">
          <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
            <mat-icon>more_vert</mat-icon>
          </button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item  title="View Contact" (click)="getCurrentVehicleDetail(row,exporter)">
              <mat-icon>remove_red_eye</mat-icon>
              <span>View</span>
            </button>
            <button mat-menu-item (click)="deleteVehicle(row)">
              <mat-icon>delete</mat-icon>
                <span>Delete</span>
            </button>
          </mat-menu>
        </td>
      </ng-container>
      <ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"
            (click)="selection.toggle(row)">
        </tr>
      </ng-container>
    </table>
    <div *ngIf="isLoading"  class="circle-spinner">
      <mat-progress-spinner 
        color="primary" [diameter]="50"
        mode="indeterminate">
      </mat-progress-spinner>
    </div>
    <tr *ngIf="!dataSource">
      <td style="text-align: center;" [attr.colspan]="displayedColumns.length">
        No Records Found!
      </td>
    </tr>
    <!-- <ng-container *ngIf="userList.length>0">
      <app-download-content [data]="userList" [exporterInstance]="exporter"></app-download-content>
   </ng-container>  -->
    <mat-paginator  [pageSize]="100" [pageSizeOptions]="[5, 10, 25, 100,500,1000,2000,5000]" hidePageSize="false" aria-label="Select page of users"></mat-paginator>
  </div>
</div>

<!-- Add new Vehicle form -->
<div class="form-dialog" id="permission-managment"> 
  <div class="closeDailog" (click)="toggleDialog($event)"></div>
  <div class="form-container">
    <div class="heading">
      <p> <b>Add Permission</b>  </p>
      <div class="float-right">
          <button class="btn btn-outline-info btn-custom" (click)="toggleDialog($event);resetData()">Close</button>
      </div>
    </div>
    <form  #f="ngForm">
      <div class="form-group">
        <label style="width: 161px !important">Select Page</label>
        <mat-form-field appearance="fill" fxFlex="40" class="field-wrapper app-permission" >
          <mat-select disableOptionCentering name="contactMethod"  id="contactMethod"   [(ngModel)]="permissionAdd.name"  
          (ngModelChange)="selectPermission(permissionAdd.name)"
          #name="ngModel"  [ngClass]="{ 'is-invalid': f.submitted && name.invalid }" required>
            <mat-option *ngFor="let page of pageList"  [value]="page.lableName">{{ page.lableName }}</mat-option>
          </mat-select>
          <mat-error *ngIf="f.submitted && name.invalid">
            <div *ngIf="name.errors.required">Page Name is required</div>
          </mat-error> 
        </mat-form-field>
      </div>
      <div class="form-group" *ngIf="permissionList">
        <section class="example-section" >
          <span class="permission-container">
             <mat-checkbox color="primary" #checkbox *ngFor="let permission of permissionList" class="example-margin" 
             (change)="addOrRemoveNewPermission(checkbox.checked,permission)"
             [checked]="checkPermissionAddedOrNot(permission)">
               <span class="permission-container-lable">{{permission}}</span>
             </mat-checkbox>
           </span>
       </section>
        <!-- <span class="checkbox-container" *ngFor="let permission of permissionList">
          <label class = "checkbox-inline">
            {{permission}} <input type="checkbox" [value]="permission" [name]="permission" (change)="addOrRemoveNewPermission($event.currentTarget.checked,permission)"
            [checked]="checkPermissionAddedOrNot(permission)">
          </label>
        </span> -->
      </div>
      <div class="form-group form-control-footer margin-top: 176px;">
        <button class="btn btn-outline-info btn-custom"  type="reset"  (click)="toggleDialog($event);f.reset()">Cancel</button>&nbsp;&nbsp;
        <button class="btn  btn-outline-info btn-custom"  type="reset" (click)="f.reset()">Reset</button>
        <div>
          <button class="btn btn-info button-size" [disabled]="isLoadingData" (click)="addVehicle(f)">
            <ng-container *ngIf="!isLoadingData" >
              Save
            </ng-container>
            <ng-container *ngIf="isLoadingData">
              <span class="spinner-border spinner-border-sm"></span>
                Loading..
            </ng-container>
          </button>
        </div>
      </div>
    </form>
  </div>
</div>