@import '../../../../styles.scss';
.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}

.rounded-legend {
  ul {
    padding-left: 0;
    margin-bottom: 0;
    li {
      list-style-type: none;
      color: $text-muted;
      font-size: .75rem;
      .legend-dots {
        width: 1rem;
        height: 1rem;
        border-radius: 100%;
        display: inline-block;
        vertical-align: text-bottom;
        margin-right: .5rem;
        .rtl & {
          margin-left: .5rem;
        }
      }
    }
  }
  &.legend-horizontal {
    @include display-flex;
    ul {
      li {
        display: inline-block;
        margin-right: 1.5rem;
        .rtl & {
          margin-right: auto;
          margin-left: 1.5rem;
        }
      }
    }
  }
  &.legend-vertical {
    ul {
      li {
        margin-top: 1rem;
        &:first-child {
          margin-top: 0;
        }
      }
    }
  }
}

#visit-sale-chart-legend {
  ul {
    li {
      &:nth-child(1) {
        .legend-dots {
          background: linear-gradient(to right, rgba(218, 140, 255, 1), rgba(154, 85, 255, 1));
        }
      }
      &:nth-child(2) {
        .legend-dots {
          background: linear-gradient(to right, rgba(255, 191, 150, 1), rgba(254, 112, 150, 1));
        }
      }
      &:nth-child(3) {
        .legend-dots {
          background:linear-gradient(to right, rgba(54, 215, 232, 1), rgba(177, 148, 250, 1))
        }
      }
    }
  }
}

#traffic-chart-legend {
  ul {
    li {
      &:nth-child(1) {
        .legend-dots {
          background:linear-gradient(to right, rgba(54, 215, 232, 1), rgba(177, 148, 250, 1))
        }
      }
      &:nth-child(2) {
        .legend-dots {
          background:linear-gradient(to right, rgba(6, 185, 157, 1), rgba(132, 217, 210, 1));
        }
      }
      &:nth-child(3) {
        .legend-dots {
          background:linear-gradient(to right, rgba(255, 191, 150, 1), rgba(254, 112, 150, 1));
        }
      }
    }
  }
}

.field-wrapper{
  margin: 18px 2px 2px 7px;
  width: 350px;
  font-size: 13px;
}

// .map-wrapper{
//   width: 110%;
//   height: 313px;
//   margin-left: 7px;
// }

.table-filter-options{
  margin-top: -20px !important;
}

.form-control{
  width: 100%;
  border: 1px solid #CCC;
  background: #FFF;
  margin: 0 0 5px;
  padding: 19px;
  border: 1px solid #979797;
  border-radius: 8px;
  font-size: 13px;
  max-height: 45px;
}


.form-group .col-sm-9{
  margin-left: -42px !important;
}

.form-group{
  margin-left:-16px !important;
}

.invalid-feedback{
position: absolute !important;
margin: 39px 0px 0px 120px !important;
}

.form-group{
  margin-bottom: 18px !important;
}

.map-wrapper {
  height: 533px !important;
}

.form-container   {
  width: 81% !important;
  margin: 0px -2px 0px 7px !important;
} 

.invalid-feedback-geofence{
  margin:0px 0px 0px 6px !important;
  font-size: 80%;
    color: #dc3545;
}