<div class="page-header">
  <h3 class="page-title">
    All Geofence
  </h3>
  <nav aria-label="breadcrumb">
    <ul class="breadcrumb" style="padding: 0;">
      <li class="breadcrumb-item active" aria-current="page">
       <button class="btn btn-info button-size" (click)="toggleDialog($event)"> + Add New Geofence</button>
       <button class="btn btn-danger button-size" (click)="resetFilters()">Reset</button>
      </li>
    </ul> 
  </nav>
</div>
<div class="row">
  <div class="col-md-12">
    <div class="table-filter-options row">
      <div class="col-md-12 col-sm-12 col-md-12">
        <form class="example-form" style="display: flex;"  [formGroup]="placeListForm">
          <table class="example-full-width" cellspacing="0"><tr>
            <td>
            <div class="table-search">
              <div class="search-icon"><i class="mdi mdi-magnify"></i></div>
              <div>
                <input type="string" placeholder="Search" formControlName="placeName">
              </div>
            </div>
          </td>
          <!-- <td >
            <mat-form-field fxFlex="40" class="field-wrapper">
              <mat-select  formControlName="geoFence" placeholder="Geofence Radius" multiple>
                <mat-option *ngFor="let geoFence of geoFenceList" [value]="geoFence">
                  {{geoFence}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </td> -->
          </tr></table>
            </form>
      </div>
    </div>
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" matSort matTableExporter #exporter="matTableExporter">
      <!-- <ng-container matColumnDef="select">
        <th mat-header-cell *matHeaderCellDef>
          <mat-checkbox (change)="$event ? masterToggle() : null"
                        [checked]="selection.hasValue() && isAllSelected()"
                        [indeterminate]="selection.hasValue() && !isAllSelected()"
                        [aria-label]="checkboxLabel()">
          </mat-checkbox>
        </th>
        <td mat-cell *matCellDef="let row">
          <mat-checkbox (click)="$event.stopPropagation()"
                        (change)="$event ? selection.toggle(row) : null"
                        [checked]="selection.isSelected(row)"
                        [aria-label]="checkboxLabel(row)">
          </mat-checkbox>
        </td>
      </ng-container> -->
        <!-- Name Column -->
        <ng-container matColumnDef="placeName">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Place Name </th>
          <td mat-cell *matCellDef="let element">
            <div class="dotted-line">
              {{element.placeName}}
          </div>   
          </td>
        </ng-container>
       <ng-container matColumnDef="description">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Description</th>
        <td mat-cell *matCellDef="let element">
            <div class="dotted-line">
              {{element.description}}
          </div> 
        </td>
      </ng-container>
    
      <!-- Symbol Column -->
      <ng-container matColumnDef="address">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Address</th>
        <td mat-cell *matCellDef="let element">
          <div class="dotted-line">
            {{element.address}}
        </div>  

        </td>
      </ng-container>
      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef> Actions </th>
        <td mat-cell *matCellDef="let row" style="width:20%">
          <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
            <mat-icon>more_vert</mat-icon>
          </button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item  title="View Contact" (click)="getCurrentPlaceDetail(row,exporter)">
              <mat-icon>remove_red_eye</mat-icon>
              <span>View</span>
            </button>
            <button mat-menu-item (click)="deletePlace(row)">
              <mat-icon>delete</mat-icon>
                <span>Delete</span>
            </button>
          </mat-menu>
        </td>
      </ng-container>
      <ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"
            (click)="selection.toggle(row)">
        </tr>
      </ng-container>
    </table>
    <div *ngIf="isLoading"  class="circle-spinner">
      <mat-progress-spinner 
        color="primary" [diameter]="50"
        mode="indeterminate">
      </mat-progress-spinner>
    </div>
    <tr *ngIf="!dataSource">
      <td style="text-align: center;" [attr.colspan]="displayedColumns.length">
        No Records Found!
      </td>
    </tr>
    <ng-container *ngIf="placesList.length>0">
      <app-download-content [data]="placesList" [exporterInstance]="exporter"></app-download-content>
   </ng-container> 
    <mat-paginator  [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]" hidePageSize="false" aria-label="Select page of users"></mat-paginator>
    <div class="card card-table">
    </div>
  </div>
</div>


<!-- Add new Vehicle form   -->


<div class="form-dialog" id="addPlaceForm"> 
  <div class="closeDailog" (click)="toggleDialog($event)"></div>
  <div class="form-container">
    <div class="heading">
      <p>Add Gefoence</p>
      <div class="float-right">
          <button class="btn btn-outline-info btn-custom" (click)="toggleDialog($event);resetData()">Close</button>
        <!-- <button class="btn btn-info button-size">Save Place</button> -->
      </div>
    </div>
    <form (ngSubmit)="addNewPlace(f)" #f="ngForm" style="margin-top: -19px;">
      <div class="row">
        <div class="col-sm-6">
          <div class="form-group row">
            <label>Name</label>
            <input type="text" class="form-control" name="placeName" [(ngModel)]="placesAddModel.placeName" #placeName="ngModel" 
            placeholder="Enter Name" [ngClass]="{ 'is-invalid': f.submitted && placeName.invalid }" required />
            <div *ngIf="f.submitted && placeName.invalid" class="invalid-feedback-geofence">
                <div *ngIf="placeName.errors.required">Name is required</div>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="form-group row">
            <label>Description</label>
            <input type="text" class="form-control" name="description" [(ngModel)]="placesAddModel.description" #description="ngModel" 
            placeholder="Enter Description" [ngClass]="{ 'is-invalid': f.submitted && description.invalid }" required />
            <div *ngIf="f.submitted && description.invalid" class="invalid-feedback-geofence">
                <div *ngIf="description.errors.required">Description is required</div>
            </div>
          </div>
          </div>
      </div>
      <div class="row">
        <div class="col-sm-6">
          <div class="form-group row">
            <label>Address</label>
            <input type="text" id="placeAutocomplete" (keyup)="fetchStartLocation()"  class="form-control" name="address" 
            [(ngModel)]="placesAddModel.address" #address="ngModel" 
            placeholder="Enter Address" [ngClass]="{ 'is-invalid': f.submitted && address.invalid }" required />
            <div *ngIf="f.submitted && address.invalid" class="invalid-feedback-geofence">
                <div *ngIf="address.errors.required">Address is required</div>
            </div>
          </div>
          </div>
          <!-- <div class="col-sm-6">
            <div class="form-group row">
              <mat-form-field   [(ngModel)]="drwaingType" fxFlex="40" class="field-wrapper" [ngModelOptions]="{standalone: true}">
                <mat-select   placeholder="Status" (selectionChange)="updateDrwaingType($event.value)"  >
                  <mat-option *ngFor="let status of drwaingTypeList" [value]="status">{{status}}</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            </div> -->
      </div>
      <div class="form-group">
        <div id="googleMapPlace" class="map-wrapper" ></div>
      </div>
      <div class="form-group form-control-footer">
        <button class="btn btn-outline-info btn-custom"  (click)="toggleDialog($event);resetData()">Cancel</button>&nbsp;&nbsp;
        <button class="btn  btn-outline-info btn-custom" (click)="toggleDialog($event);resetData()">Reset</button>
        <div>
          <button class="btn btn-info button-size">Save Place</button>
        </div>
      </div>
    </form>
  </div>
</div>