
<div class="page-header">
  <h3 class="page-title">
    Dashboard
  </h3>
  <nav aria-label="breadcrumb">
    <ul class="breadcrumb" style="padding: 0;">
      <li class="breadcrumb-item active" aria-current="page">
       <button class="btn btn-info  button-size" routerLink="/user/map">Map Dashboard</button>
      </li>
    </ul> 
  </nav>
</div>

<div *ngIf="isLoading" class="circle-spinner">
  <mat-spinner [diameter]="50"></mat-spinner>
</div>
<ng-container *ngIf="!isLoading">
<div class="row" *ngIf="dashboardDataList['customer'] && dashboardDataList['ticketRaised'] && dashboardDataList['vehicles'] &&
dashboardDataList['kmsTracked']  && dashboardDataList['trackers'] && dashboardDataList['simCard'] && dashboardDataList['trips']">
  <div class="col-md-4 grid-margin stretch-card stretch-card-custom">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">
          Customer
        </h4>
        <button class="btn btn-outline-info btn-fw btn-custom" data-toggle="modal" data-target="#myModal"  (click)="generateGraphByKey('customer')">Graph</button>
        <div class="template-demo">
          <div class="card-details">
            <div>
              <span class="primary-count">{{dashboardDataList['customer'].customerJoinThisMonth}}</span>
              <small>Join This Month</small>
            </div>
            <div>
              <span class="warning-count">{{dashboardDataList['customer'].disconnectedCustomer}}</span>
              <small>Discontinued</small>
            </div>
            <div>
              <span class="success-count">{{dashboardDataList['customer'].totalCustomer}}</span>
              <small>Total</small>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-4 grid-margin stretch-card stretch-card-custom">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">
          Vehicles
        </h4>
        <button class="btn btn-outline-info btn-fw btn-custom" data-toggle="modal" data-target="#myModal" (click)="generateGraphByKey('vehicle')">Graph</button>
        <div class="template-demo">
          <div class="card-details">
            <div>
              <span class="primary-count">{{dashboardDataList['vehicles'].vehicleJoinThisMonth}}</span>
              <small>Added This Month</small>
            </div>
            <div>
              <span class="warning-count">{{dashboardDataList['vehicles'].disconnectedVehicle}}</span>
              <small>Discontinued</small>
            </div>
            <div>
              <span class="success-count">{{dashboardDataList['vehicles'].totalVehicle}}</span>
              <small>Total</small>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-4 grid-margin stretch-card stretch-card-custom">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">
          KM's Tracked
        </h4>
        <button class="btn btn-outline-info btn-fw btn-custom" data-toggle="modal" data-target="#myModal" (click)="generateGraphByKey('kmTracked')">Graph</button>
        <div class="template-demo">
          <div class="card-details">
            <div>
              <span class="warning-count">{{dashboardDataList['kmsTracked'].todaysKmsTracked}}</span>
              <small>Todays Kms Tracked</small>
            </div>
            <div>
              <span class="success-count">{{dashboardDataList['kmsTracked'].totalKmsTracked}}</span>
              <small>Total Kms Tracked</small>
            </div>
            <div>
              <span class="primary-count">{{dashboardDataList['kmsTracked'].kmsTrackedThisMonth}}</span>
              <small>Kms Tracked Join This Month</small>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <div class="col-md-4 grid-margin stretch-card stretch-card-custom">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">
          Trackers
        </h4>
        <button class="btn btn-outline-info btn-fw btn-custom" data-toggle="modal" data-target="#myModal" (click)="generateGraphByKey('trackers')">Graph</button>
        <div class="template-demo">
          <div class="card-details" >
            <div>
              <span class="warning-count">{{dashboardDataList['trackers'].trackersJoinThisMonth}}</span>
              <small>Issued This Month</small>
            </div>
            <div>
              <span class="info-count">{{dashboardDataList['trackers'].activeTrackers}}</span>
              <small>Active</small>
            </div>
            <div>
              <span class="primary-count">{{dashboardDataList['trackers'].in_activeTrackers}}</span>
              <small>In-active</small>
            </div>
            <div>
              <span class="success-count">{{dashboardDataList['trackers'].totalTrackers}}</span>
              <small>Total</small>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <div class="col-md-4 grid-margin stretch-card stretch-card-custom">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">
          Sim Card
        </h4>
        <button class="btn btn-outline-info btn-fw btn-custom" data-toggle="modal" data-target="#myModal" (click)="generateGraphByKey('simCard')">Graph</button>
        <div class="template-demo">
          <div class="card-details" >
            <div>
              <span class="warning-count">{{dashboardDataList['simCard'].in_activeSimCard}}</span>
              <small>In-Active Sim Card</small>
            </div>
            <div>
              <span class="success-count">{{dashboardDataList['simCard'].simCardJoinThisMonth}}</span>
              <small>SIM Card Join This Month</small>
            </div>
            <div>
              <span class="primary-count">{{dashboardDataList['simCard'].activeSimCard}}</span>
              <small>Active Sim Card</small>
            </div>
            <div>
              <span class="primary-count">{{dashboardDataList['simCard'].totalSimCard}}</span>
              <small>Total Sim Card</small>
            </div>
          </div>
         </div>
      </div>
    </div>
  </div>
  
  <div class="col-md-4 grid-margin stretch-card stretch-card-custom">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">
          Trips
        </h4>
        <button class="btn btn-outline-info btn-fw btn-custom" data-toggle="modal" data-target="#myModal" (click)="generateGraphByKey('trips')">Graph</button>
        <div class="template-demo">
          <div class="card-details">
            <div>
              <span class="warning-count">{{dashboardDataList['trips'].TodaysTrips}}</span>
              <small>Today</small>
            </div>
            <div>
              <span class="info-count">{{dashboardDataList['trips'].TripsJoinThisMonth}}</span>
              <small>This Month</small>
            </div>
            <div>
              <span class="success-count">{{dashboardDataList['trips'].in_activeTrips}}</span>
              <small>In-active</small>
            </div>
            <div>
              <span class="primary-count">{{dashboardDataList['trips'].allTripsTotalKMS}}</span>
              <small>Total KMS</small>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
<div class="row" *ngIf="dashboardDataList['vehicleLiveTracking'] && dashboardDataList['ticketRaised']">
  <div class="col-md-4 grid-margin stretch-card stretch-card-custom">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">
          Ticket Raised
        </h4>
        <button class="btn btn-outline-info btn-fw btn-custom" data-toggle="modal" data-target="#myModal" (click)="generateGraphByKey('ticket')">Graph</button>
        <div class="template-demo">
          <div class="card-details">
            <div>
              <span class="warning-count">{{dashboardDataList['ticketRaised'].ticketRaisedThisMonth}}</span>
              <small>Newly Raised This Month</small>
            </div>
            <div>
              <span class="info-count">{{dashboardDataList['ticketRaised'].todaysTicketRaised}}</span>
              <small>Todays Ticket Raised</small>
            </div>
            <div>
              <span class="info-count">{{dashboardDataList['ticketRaised'].pendingTicketRaised}}</span>
              <small>Pending</small>
            </div>
            <div>
              <span class="success-count">{{dashboardDataList['ticketRaised'].ResolvedTicketRaised}}</span>
              <small>Resolved</small>
            </div>
            <div>
              <span class="primary-count">{{dashboardDataList['ticketRaised'].totalTicketRaised}}</span>
              <small>Total</small>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-8 grid-margin stretch-card stretch-card-custom">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title" style="text-align: center;">
          Vehicle Live Tracking
        </h4>
        <button class="btn btn-outline-info btn-fw btn-custom"  data-toggle="modal" data-target="#myModal" (click)="generateGraphByKey('liveTracking')">Graph</button>
        <div class="template-demo">
          <div class="card-details">
            <div>
              <span class="warning-count">{{dashboardDataList['vehicleLiveTracking'].VehiclesRunning}}</span>
              <small>Running</small>
            </div>
            <div>
              <span class="success-count">{{dashboardDataList['vehicleLiveTracking'].PowerSupplyOk}}</span>
              <small>Power Supply</small>
            </div>
            <div>
              <span class="primary-count">{{dashboardDataList['vehicleLiveTracking'].IgnitionOFF}}</span>
              <small>Ignition OFF</small>
            </div>
            <div>
              <span class="primary-count">{{dashboardDataList['vehicleLiveTracking'].PowerSupplyCutOff}}</span>
              <small>Cut Off</small>
            </div>
            <div>
              <span class="primary-count">{{dashboardDataList['vehicleLiveTracking'].GPSSignalInActive}}</span>
              <small>GPS Signal In Active</small>
            </div>
            <div>
              <span class="primary-count">{{dashboardDataList['vehicleLiveTracking'].GPSSignalActive}}</span>
              <small>GPS Signal Active</small>
            </div>
            <div>
              <span class="primary-count">{{dashboardDataList['vehicleLiveTracking'].VehiclesStopped}}</span>
              <small>Vehicles Stopped</small>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <div class="table-filter-options row">
      <div class="col-md-12 col-sm-12 col-md-12">
        <form class="example-form" style="display: flex;" [formGroup]="dashboardFilterForm">
          <table class="example-full-width" cellspacing="0">
            <tr>
              <td>
                <mat-form-field fxFlex="40" class="field-wrapper">
                  <mat-select disableOptionCentering formControlName="companyName" placeholder="Company Name" name="companyName">
                    <mat-option *ngFor="let company of companyList" [value]="company.id">
                      {{company.companyName}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </td>
              <td style="display: flex;margin:24px 0px  0px 19px;">
                <button type="submit" class="btn btn-info  button-size" (click)="viewVehicleData()" [disabled]="isLoadingData">
                  <ng-container *ngIf="!isLoadingData">
                    View
                  </ng-container>
                  <ng-container *ngIf="isLoadingData">
                      Loading..
                  </ng-container>
                </button>
                <button class="btn btn-danger button-size" (click)="userService.resetFilter(dashboardFilterForm)">Reset</button>
              </td>
              <td>
                <mat-form-field class="field-wrapper" fxFlex="40" style="margin-left: 35px !important;">
                  <input matInput placeholder="Search" formControlName="searchTerm">
                </mat-form-field>
              </td>
              <td>
                <mat-form-field  fxFlex="40" class="field-wrapper">
                  <mat-select disableOptionCentering formControlName="status" placeholder="Status" multiple placeholder="Status">
                    <mat-option *ngFor="let status of statusList" [value]="status">{{status}}</mat-option>
                  </mat-select>
                </mat-form-field>
              </td>
            </tr>
        </table>
      </form>
    </div>
    </div>
    <div class="mat-elevation-z8">

      <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" matSort matTableExporter #exporter="matTableExporter" class="table-wrapper">
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef mat-sort-header >Company Name </th>
          <td mat-cell *matCellDef="let element"> {{element.companyName}} </td>
        </ng-container>
        <ng-container matColumnDef="vname">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Vehicle Number</th>
          <td mat-cell *matCellDef="let element"> {{element.vname}} </td>
        </ng-container>

        <ng-container matColumnDef="mobile">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Phone Number</th>
          <td mat-cell *matCellDef="let element"> {{element.mobile}} </td>
        </ng-container>
        <ng-container matColumnDef="battery">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Battery</th>
          <td mat-cell *matCellDef="let element"> {{element.battery}} </td>
        </ng-container>
        <ng-container matColumnDef="ignition">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Ignition</th>
          <td mat-cell *matCellDef="let element"> {{element.ignition}} </td>
        </ng-container>
        <ng-container matColumnDef="date">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Date</th>
          <td mat-cell *matCellDef="let element"> {{element.date | date:'yyyy-MM-dd'}} </td>
        </ng-container>
        <ng-container matColumnDef="idleTime">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Idle Time</th>
          <td mat-cell *matCellDef="let element"> {{element.idleTime  | date:'yyyy-MM-dd'}} </td>
        </ng-container>
        <ng-container matColumnDef="imei">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>IMEI</th>
          <td mat-cell *matCellDef="let element"> {{element.imei}} </td>
        </ng-container>
        <ng-container matColumnDef="specific">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Specific</th>
          <td mat-cell *matCellDef="let element"> {{element.specific}} </td>
        </ng-container>
          <ng-container matColumnDef="status">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Status</th>
              <td mat-cell *matCellDef="let element"> 
                <span class="dot" [ngClass]="element.status ==  'stop' ? 'deactive-dot' : 'dot'"></span>{{element.status}} 
              </td>
          </ng-container>
          <ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"
                (click)="selection.toggle(row)">
            </tr>
          </ng-container>
      </table>
      </div>  
      <div *ngIf="isLoading"  class="circle-spinner">
        <mat-progress-spinner 
          color="primary" [diameter]="50"
          mode="indeterminate">
        </mat-progress-spinner>
      </div>
      <tr *ngIf="!dataSource">
        <td style="text-align: center;" [attr.colspan]="displayedColumns.length">
          No Records Found!
        </td>
      </tr>
    <mat-paginator  #paginator [pageSize]="100" [pageSizeOptions]="[100, 300, 500, 1000]" hidePageSize="false" aria-label="Select page of users"></mat-paginator>
  </div>
</div>
</ng-container>

<!-- The Modal -->
<div class="modal" id="myModal">
  <div class="modal-dialog modal-md">
    <div class="modal-content">
    
      <!-- Modal Header -->
      <div class="modal-header">
        <h5 class="modal-title"><b>{{selectedPageKey}}</b> </h5>
        <button type="button" class="close" data-dismiss="modal" (click)="resetGraphData()">&times;</button>
      </div>
      <!-- <div *ngIf="isLoadingGraphData" class="circle-spinner">
        <mat-spinner [diameter]="50"></mat-spinner>
      </div> -->
      <!-- Modal body -->
      <div class="modal-body">
        <canvas #barCanvas id="barCanvas"></canvas>
      </div>
      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal" (click)="resetGraphData()">Close</button>
      </div>
    </div>
  </div>
</div>