@import '../../../../styles.scss';

.circle-spinner{
   background: transparent !important;
}
.table-wrapper{
   margin-top: -26px !important;
}

.mat-elevation-z8 {    
   overflow-x: auto;
   overflow-y: auto;
   padding: 25px;
   width: 105% !important;
   margin-left: -24px
  }