@import '../../../../styles.scss';
.form-control{
  width: 100%;
  border: 1px solid #CCC;
  background: #FFF;
  margin: 0 0 5px;
  padding: 19px;
  border: 1px solid #979797;
  border-radius: 8px;
  font-size: 13px;
  max-height: 45px;
}


.form-group .col-sm-9{
  margin-left: -42px !important;
}

.form-group{
  margin-left:-16px !important;
}

.invalid-feedback{
position: absolute !important;
margin: 39px 0px 0px 120px !important;
}

.form-group{
  margin-bottom: 18px !important;
}

select.form-control {
  outline: 1px solid #979797 !important;
    color: #000000 !important; 
}
.field-wrapper-filter{
  margin: -4px -2px -4px 4px !important;
  width: 103% !important;
  font-size: 12px !important;;
}

.input-label-container {
  margin-left: -40px !important;
  width: 77% !important;
}