.field-wrapper {
    margin: -8px 0px 0px 0px !important;
    width: 99% !important;
    font-size: 12px !important;
    cursor: pointer !important;
}

.checkbox-margin{
   margin: 12px 143px 0px -140px !important ;
}

select.form-control {
    outline: 1px solid #979797 !important;
      color: #000000 !important; 
  }

    .number_wrapper{
        height: 39px !important;
        margin-left: -9px !important;
        top: 1px !important;
        border-radius: 0 !important;
    }
    @media  (min-width: 1500px) and (max-width: 2560px) {
        .input-label-container{
          margin-top: 4px !important;
          margin-left: -49px;
        }
      }