.field-wrapper {
    margin: -8px 0px 0px 0px !important;
    width: 99% !important;
    font-size: 12px !important;
    cursor: pointer !important;
}

.checkbox-margin{
   margin: 6px 222px 0px -10px !important;
}
